.card-image-wrapper {
  display: inline-block;
  width: 125px;
}

.card-image {
  width: 100%;
}

.gold-possession {
  display: inline-block;
}

.gold-bar-image-wrapper {
  display: inline-block;
  width: 150px;
}

.gold-bar-image {
  width: 100%;
}
